{% extends 'base.html.twig' %}

{% block title %}Politica de privacidad{% endblock %}

{% block body %}
    <style>
        h3{
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 1.5rem;
            text-decoration: underline;
        }
    </style>
    <h1 class="text-center text-white pt-5">Politica de privacidad</h1>
    <div class="text-white w-75 p-5" style="border-radius: 15px; text-align: justify; margin: 3rem auto; background: rgba(0, 0, 0, 0.2)">

        <p>Esta política de privacidad describe cómo tratamos la información que recopilamos cuando utilizas nuestra plataforma de búsqueda de prácticas. Al utilizar nuestros servicios, aceptas las prácticas descritas en esta política de privacidad.</p>

        <h3>Información que recopilamos</h3>

        <p>Recopilamos información de varias maneras cuando utilizas nuestra plataforma de búsqueda de prácticas, incluyendo:</p>

            <ul>
                <li>
                    <b>Información que proporcionas:</b> Recopilamos información que nos proporcionas directamente, como tu nombre, dirección de correo electrónico, institución académica y otros detalles relevantes relacionados con tu búsqueda de prácticas.
                </li>
                <li>
                    <b>Información de uso:</b> Recopilamos información sobre cómo utilizas nuestra plataforma de búsqueda de prácticas, incluyendo las búsquedas que realizas, las prácticas que visualizas, las empresas a las que envías solicitudes y otra información similar.
                </li>
                <li>
                    <b>Información de terceros:</b> Podemos recibir información sobre ti de terceros, como tus instituciones académicas, empresas y otras fuentes públicas.
                </li>
            </ul>

            <h3>Cómo utilizamos la información</h3>

        <p>Utilizamos la información que recopilamos para proporcionarte una mejor experiencia en nuestra plataforma de búsqueda de prácticas, incluyendo:</p>

            <ul>
                <li><b>Personalizar tus búsquedas:</b> Utilizamos la información que recopilamos para personalizar tus búsquedas de prácticas y proporcionarte resultados que sean relevantes para ti.</li>
                <li><b>Comunicarnos contigo:</b> Podemos utilizar tu información de contacto para comunicarnos contigo sobre tu cuenta, las prácticas que estás buscando y otros temas relacionados con nuestra plataforma de búsqueda de prácticas.</li>
                <li><b>Mejorar nuestros servicios:</b> Utilizamos la información que recopilamos para mejorar nuestros servicios y ofrecerte una experiencia más satisfactoria en nuestra plataforma de búsqueda de prácticas.</li>
            </ul>

        <h3>Cómo compartimos la información</h3>

        <p>No compartimos tu información personal con terceros sin tu consentimiento, excepto en las siguientes circunstancias:</p>

        <ul>
            <li><b>Con nuestros proveedores de servicios:</b> Compartimos información con proveedores de servicios que nos ayudan a proporcionar nuestros servicios, como proveedores de alojamiento web y servicios de análisis de datos.</li>
            <li><b>Con tus instituciones académicas:</b> Podemos compartir información sobre tus búsquedas y solicitudes de prácticas con tus instituciones académicas si así lo requieren.</li>
            <li><b>Para cumplir con la ley:</b> Podemos divulgar información cuando creemos de buena fe que la divulgación es necesaria para cumplir con la ley, una orden judicial o un proceso legal.</li>
        </ul>

        <h3>Cómo protegemos la información</h3>

        <p>Tomamos medidas de seguridad razonables para proteger la información que recopilamos y almacenamos. Sin embargo, ninguna medida de seguridad es completamente segura, por lo que no podemos garantizar la seguridad de tu información.</p>

        <h3>Tus opciones</h3>

        <p>Puedes optar por no proporcionarnos cierta información personal, pero esto puede afectar la funcionalidad de nuestra plataforma de búsqueda de prácticas. También puedes optar por no recibir correos electrónicos de nosotros en cualquier momento.</p>

        <h3>Cambios en esta política de privacidad</h3>

        <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Si realizamos cambios significativos en la forma en que tratamos tu información personal, te lo notificaremos por correo electrónico o mediante un aviso en nuestra plataforma de búsqueda de prácticas.</p>

        <h3>Contacto</h3>

        <p>Si tienes preguntas o inquietudes sobre esta política de privacidad o sobre el tratamiento de tu información personal, puedes contactarnos en cualquier momento a través de nuestro sitio web o por correo electrónico.</p>

        <h3>Última actualización</h3>

        <p>Esta política de privacidad fue actualizada por última vez el 27/04/2023.</p>
    </div>
{% endblock %}
