{% extends 'base.html.twig' %}

{% block title %}Hello OffersController!{% endblock %}

{% block body %}
    {% for offer in offers %}
        <a href="{{ path('app_individual_offer', {'id': offer.id}) }}">Ir a la oferta</a>
        {{ dump(offer) }}
    {% endfor %}
{% endblock %}
