{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div>
            <h1>Name</h1>
            {{ form_widget(form.name) }}
        </div>
        <div>
            <h1>Surname</h1>
            {{ form_widget(form.surname) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
