{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}

    {% for company in companies %}
        <div>
            {{ dump(company) }}
        </div>
    {% endfor %}
{% endblock %}
