{% extends 'base.html.twig' %}

{% block title %}Hello NoticiesController!{% endblock %}

{% block body %}

    {% for noticia in noticias %}
        <h1 style="color: white">{{ noticia.title }}</h1>
        {{ dump(noticia) }}
        <a href="{{ noticia.url }}">Ir a la noticia</a>
    {% endfor %}

{% endblock %}
